@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');;

body{
    font-family:'Roboto';
    scroll-behavior: smooth;
}
 

.container{
    color:rgb(102, 34, 62);
    background-color: rgb(164, 236, 236);
    height: 5rem;
    width: 75rem;
    font-size: 1.5rem;
    padding: 30px;
    border: 4px solid rgb(107, 74, 102);
    margin: 10px ;
    
}

.navbar{
    display: inline;
}

.non_bullet li{
    list-style:none;
    display: inline;
    text-align: center;
    padding: 0 1rem;
}



.picallign{
    text-align: left;
    margin-left: auto;
    
    padding: 3rem;
}
.link{
    display: inline;
    padding: 0 1rem 0 0.5rem;
    scroll-behavior: smooth;
    margin-left: auto;
}

.account{
    background: url('https://i.pinimg.com/736x/10/b9/1d/10b91d34cf48ea71910e08c971e33ace.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px;
}

.nspace{
    padding: 27px;
    border: 2px solid  rgb(76, 78, 77);
    display: flex;
    margin-left: auto;
    list-style: none;
    
}

.space{
    text-align: center;
    padding: 0 1rem;
}
