@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@media (max-width: 991px){
    h2{
        font-size: 1rem;
    }
}

body{
    height: 100vh;
    background: url('https://i.pinimg.com/736x/10/b9/1d/10b91d34cf48ea71910e08c971e33ace.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
    
 a{
    text-decoration: none;
    color: rgb(10, 9, 9);
 }

 .heading {
	color: rgb(3, 3, 3);
	font-family: 'Roboto',sans-serif;
	font-size: 50px;
	text-align: center;
	margin-bottom: 10px;
}

.halign{
    text-align: center;
}

.container{
    color:rgb(102, 34, 62);
    justify-content: center;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    font-size: 1.5rem;
    padding: 50px;
    text-align: center;
    margin: 10px ;
    
}

 /*.navbar{
    display: inline;
 }*/

 .non_bullet li{
    list-style:none;
    display: inline;
    text-align: center;
    padding: 0 1rem;
}



.picallign{
    
    margin-left: auto;  
    padding: 3rem;
}
.link{
    display: inline;
    padding: 0 1rem 0 0.5rem;
    scroll-behavior: smooth;
    margin-left: auto;
}

.nspace{
    
    
    
    margin-left: auto;
    list-style: none;
    color: white;
}

.space{
    text-align: center;
    padding: 0 1rem;
}

header{
    background: rgba(229, 207, 225, 0.274);   
}

nav {
	float: right;
}

.navbar {
	width: 50%;
	margin: 0 auto;
	z-index: 5; 
    
}

.logo {  	
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	color: rgb(12, 11, 11);
	padding-left: 3rem;
	float:left;
}

.sticky {		/*To make navbar sticky*/
  position: fixed;
  top: 0;
  width: 100%;
}

nav{
    float: inline-end;
}

.box_space{
	display:flex;
    padding-top: 6rem;
	padding-bottom: 6.1rem;
}

.box_container {
	display: grid;
    justify-content: center;
	height: 340px;
	margin-right: 50px;
	margin-left: 50px;
	border: 2px;
	width: 80%;
	box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%), 
	-10px 10px 20px 0 rgb(0 0 0 / 20%),
	10px 10px 20px 0 rgb(0 0 0 / 10%);
}

.box_modify{
    text-align: center;
}


    