@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@media (max-width: 991px){
    h2{
        font-size: 1rem;
    }
}

body{
    height: 100vh;
    background: url('https://i.pinimg.com/736x/10/b9/1d/10b91d34cf48ea71910e08c971e33ace.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
    
 a{
    text-decoration: none;
    color: white;
 }

.container{
    color:rgb(102, 34, 62);
    justify-content: center;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    font-size: 1.5rem;
    padding: 50px;
    text-align: center;
    margin: 10px ;
    flex-direction: ;
}

 /*.navbar{
    display: inline;
 }*/

 .non_bullet li{
    list-style:none;
    display: inline;
    text-align: center;
    padding: 0 1rem;
}



.picallign{
    
    margin-left: auto;  
    padding: 3rem;
}
.link{
    display: inline;
    padding: 0 1rem 0 0.5rem;
    scroll-behavior: smooth;
    margin-left: auto;
}

.nspace{
    
    
    display: flex;
    margin-left: auto;
    list-style: none;
    color: white;
}

.space{
    text-align: center;
    padding: 0 1rem;
}

header{
    background: rgb(47, 111, 131);
    border-radius: 1rem;
    
}

nav {
	float: right;
}

.navbar {
	width: 5px;
	margin: 0 auto;
	z-index: 5; 
}

.nav-logo {  	
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.7rem;
	color: white;
	font-family:  sans-serif;
	float:left;
}

.sticky {		/*To make navbar sticky*/
  position: fixed;
  top: 0;
  width: 100%;
}

    